@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6b6b6b;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
}

.logo{
    cursor: pointer;
}

.checkBtn{
    display: none;
}

#check{
    display: none;
}

.checkBtn{
    cursor: pointer;
    font-size: 30px;
    float: right;
    color: #ed1e79;
    line-height: 80px;
}

.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li a{
    padding: 10px 20px;
    
}